@import "src/styles/variables.scss";

.single {
  padding-top: 120px;
  padding-bottom: 84px;
  .content {
    .userCard {
      padding: 20px 14px;
      width: 413px;
      background-color: #f5f5f5;
      border-radius: 33px;

      h3 {
        font-size: 32px;
        margin-top: 32px;
        margin-bottom: 32px;
      }
      p {
        font-family: $font-secondary;
        font-size: 20px;
        line-height: 90%;
        font-style: italic;
      }
    }
    .bottomBlock {
      margin-top: 50px;
      justify-content: space-between;
      gap: 20px;

      .leftBlock {
        width: 68%;
        background: #faff00;
        padding: 33px;
        border-radius: 33px;
        justify-content: space-between;

        div {
          width: 300px;
          h3 {
            font-size: 82px;
          }
          p {
            font-family: $font-secondary;
            font-size: 20px;
            font-style: italic;
          }
        }

        h5,
        h6 {
          width: 300px;
          color: #4d90eb;
          font-size: 32px;
          line-height: 80%;
        }
        h6 {
          display: none;
        }
      }
    }
  }

  @media (max-width: 1320px) {
    .content {
      .bottomBlock {
        .leftBlock {
          div {
            width: 250px;
          }
          img {
            width: 300px;
          }
        }
        .images {
          width: 300px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .content {
      .userCard {
        width: 350px;
        img {
          width: 100%;
        }
      }
      .bottomBlock {
        .leftBlock {
          div {
            width: 200px;
          }
          img {
            width: 250px;
          }
        }
        .images {
          width: 250px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  @media (max-width: 900px) {
    .content {
      .userCard {
        width: 100%;
        img {
          height: 350px;
          object-fit: cover;
          border-radius: 24px;
        }
      }
      .topContent {
        flex-direction: column;

        .iframe {
          height: 350px;
        }
      }
      .bottomBlock {
        flex-direction: column;
        .leftBlock {
          width: 100%;
        }

        .images {
          width: 100%;
          height: 350px;

          img {
            object-fit: cover;
            border-radius: 28px;
          }
        }
      }
    }
  }

  @media (max-width: 650px) {
    .content {
      .topContent {
        .iframe {
          height: 210px;
        }
        .userCard {
          img {
            height: 280px;
            width: 100%;
            object-fit: cover;
            border-radius: 24px;
          }
          h3 {
            margin-bottom: 20px;
          }
        }
      }
      .bottomBlock {
        .leftBlock {
          flex-direction: column;

          div {
            width: 100%;

            h3 {
              font-size: 48px;
            }
            p{
              margin-bottom: 32px;
            }
          }

          h5 {
            display: none;
          }
          h6 {
            width: 100%;
            display: inline-block;
            font-size: 24px;
            margin-top: 40px;
            text-align: center;
          }
          img {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
