@import "src/styles/variables.scss";

.kidsAllCards {
  padding-top: 105px;
  padding-bottom: 200px;
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    .kidsCards {
      @include flex();
      padding: 20px;
      border-radius: 20px;

      .leftBlock {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .topcontent {
        @include flex($align: center);
        gap: 13px;

        .avatar {
          width: 66px;
          height: 66px;
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .name {
          font-size: 26px;
          max-width: 200px;
          line-height: 80%;
        }
      }

      .images {
        width: 300px ;
      }
      .bottomContent {
        .title {
          font-size: 66px;
          font-weight: 700;
          line-height: 80%;
          margin-top: 30px;
          @include line-clamp(1);
        }
        .description {
          font-size: 14px;
          font-family: $font-secondary;
          margin-top: 16px;
          line-height: auto;
          height: 65px;
          @include line-clamp(4);
        }
      }
    }
  }

  @media (max-width: 1220px) {
    .cards {
      .kidsCards {
        .images {
          width: 200px;
          height: 300px;
        }
      }
    }
  }
  @media (max-width: 1000px) {
    .cards {
      // grid-template-columns: repeat(1, 1fr);
      .kidsCards {
        .images {
          width: 170px;
          height: 250px;
        }
        .bottomContent {
          .title {
            font-size: 48px;
          }
        }
      }
    }
  }
  @media (max-width: 900px) {
    .cards {
      grid-template-columns: repeat(1, 1fr);
      .kidsCards {
        .images {
          width: 200px;
          height: 300px;
        }
      }
    }
  }
  @media (max-width: 500px) {
    .cards {
      grid-template-columns: repeat(1, 1fr);
      .kidsCards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .leftBlock {
          .bottomContent {
            display: none;
          }
        }
      }
    }
  }
}
