@import "src/styles/variables.scss";

.dreamkids {
  padding: 100px 0 115px 0;

  .contentTop {
    @include flex($align: center, $justify: space-between);
    .title {
      font-size: 84px;
      font-weight: 700;
      line-height: 80%;
    }
  }

  .cards {
    padding-left: 5%;
    margin-top: 47px;
    @include flex($align: center);
    align-items: stretch;
  }
}

@media (max-width: 786px) {
  .dreamkids {
    padding: 80px 0 !important;
  }
  .title {
    font-size: 48px !important;
  }
  .cards {
    margin-top: 40px !important;
  }
}
