@import "./variables.scss";
@import "./help.scss";

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

html,
body {
  scroll-behavior: smooth;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.root {
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  padding-right: 46px;
  padding-left: 46px;
  margin: 0 auto;

  @media (max-width: 576px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.input {
  outline: none !important;
}
