// Fonts
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../../public/fonts/Gilroy/Gilroy-Light.otf") format("woff2"),
    url("../../public/fonts/Gilroy/Gilroy-Light.otf") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("../../public/fonts/Gilroy/Gilroy-ExtraBold.otf") format("woff2"),
    url("../../public/fonts/Gilroy/Gilroy-ExtraBold.otf") format("woff");
}
@font-face {
  font-family: "Agipo";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../../public/fonts/Agipo/AgipoBoldCondensed.otf") format("woff2"),
    url("../../public/fonts/Agipo/AgipoBoldCondensed.otf") format("woff");
}
// Font family
$font-primary: "Agipo", sans-serif;

// Colors
$primary: #0445b1;
$primary-light: #0c57a6;
$text-primary: #131d2d;
$glass: rgba(255, 255, 255, 0.2);
$glass_hover: rgba(255, 255, 255, 0.25);
$glass_active: rgba(255, 255, 255, 0.3);
$gray: #eef2f8;
$input-color: #f7f9fb;
$red: #d62020;
$blue: #1c5bd5;
$black: #000;
$white: #fff;

// Status colors
$warning: #997f21;
$success: #21994a;
$danger: #992121;
$light-info: #e4f2ff;
$light-warning: #fff9e4;
$light-success: #e4ffe5;
$light-danger: #ffebeb;

//Base colors
$gray_25: #fdfdfd;
$gray_50: #fafafa;
$gray_100: #f5f5f5;
$gray_200: #e9eae8;
$gray_300: #d5d7da;
$gray_400: #a4a7ae;
$gray_500: #717680;
$gray_600: #535862;
$gray_700: #414651;
$gray_800: #3a4752;
$gray_900: #2c3a46;
$gray_950: #1a252f;

$brand_25: #fcfaff;
$brand_50: #f9f5ff;
$brand_100: #f4ebff;
$brand_200: #e9d7fe;
$brand_300: #d6b8fb;
$brand_400: #b692f6;
$brand_500: #8b92f6;
$brand_600: #7f56d9;
$brand_700: #6941c6;
$brand_800: #5b2b9e;
$brand_900: #4b1f79;
$brand_950: #3a1454;

$error_25: #fffbfa;
$error_50: #fef3f2;
$error_100: #fee4e2;
$error_200: #fecdea;
$error_300: #fda29b;
$error_400: #f97066;
$error_500: #f04438;
$error_600: #d92d20;
$error_700: #b42318;
$error_800: #9d1b12;
$error_900: #850c0c;
$error_950: #6e0505;

$warning_25: #fffdfc;
$warning_50: #fef7e9;
$warning_100: #fef0c7;
$warning_200: #fefdb9;
$warning_300: #fec84b;
$warning_400: #f9b02a;
$warning_500: #f79009;
$warning_600: #d96803;
$warning_700: #b54308;
$warning_800: #9a3406;
$warning_900: #7e2805;
$warning_950: #641c04;

$success_25: #ecfdf3;
$success_50: #dcfae6;
$success_100: #abefc6;
$success_200: #75e0a7;
$success_300: #47cd89;
$success_400: #17826a;
$success_500: #079455;
$success_600: #067647;
$success_700: #085d3a;
$success_800: #07472a;
$success_900: #06362b;
$success_950: #042623;

$gray_blue_25: #fcfcfd;
$gray_blue_50: #f8f9fc;
$gray_blue_100: #eaeacf;
$gray_blue_200: #d2ddeb;
$gray_blue_300: #b3b8db;
$gray_blue_400: #717bbc;
$gray_blue_500: #4e5ba6;
$gray_blue_600: #3e47b4;
$gray_blue_700: #303f72;
$gray_blue_800: #293d56;
$gray_blue_900: #101323;
$gray_blue_950: #0d0f1c;

$gray_cool_25: #fcfcfd;
$gray_cool_50: #f8f9fb;
$gray_cool_100: #e7f1f5;
$gray_cool_200: #d2dcea;
$gray_cool_300: #9fcdda;
$gray_cool_400: #7d8b90;
$gray_cool_500: #5d6b9b;
$gray_cool_600: #4a5578;
$gray_cool_700: #40496b;
$gray_cool_800: #30374f;
$gray_cool_900: #111322;
$gray_cool_950: #0e101b;

$gray_modern_25: #fcfcfd;
$gray_modern_50: #f8f9fc;
$gray_modern_100: #e5f2f6;
$gray_modern_200: #d2ebef;
$gray_modern_300: #cdd5df;
$gray_modern_400: #9aa4b2;
$gray_modern_500: #697586;
$gray_modern_600: #4b5965;
$gray_modern_700: #364152;
$gray_modern_800: #202939;
$gray_modern_900: #12192b;
$gray_modern_950: #0d121c;

$gray_neutral_25: #f7f8fe;
$gray_neutral_50: #f2f3fb;
$gray_neutral_100: #e5e7eb;
$gray_neutral_200: #d2d6dc;
$gray_neutral_300: #62d6db;
$gray_neutral_400: #9da8ae;
$gray_neutral_500: #6c737f;
$gray_neutral_600: #4d5761;
$gray_neutral_700: #384250;
$gray_neutral_800: #1f2a37;
$gray_neutral_900: #111927;
$gray_neutral_950: #0d121c;

$gray_iron_25: #fcfcfc;
$gray_iron_50: #f4fafa;
$gray_iron_100: #f1f4f5;
$gray_iron_200: #e4e7e7;
$gray_iron_300: #d1d1d6;
$gray_iron_400: #a9a0ab;
$gray_iron_500: #707d7b;
$gray_iron_600: #51525c;
$gray_iron_700: #3f3f4f;
$gray_iron_800: #282728;
$gray_iron_900: #1a1a1e;
$gray_iron_950: #131316;

$gray_true_25: #fcfcfc;
$gray_true_50: #f7f7f7;
$gray_true_100: #f5f5f5;
$gray_true_200: #e5e5e5;
$gray_true_300: #d6d6d6;
$gray_true_400: #a3a3a3;
$gray_true_500: #737373;
$gray_true_600: #525252;
$gray_true_700: #424242;
$gray_true_800: #292929;
$gray_true_900: #141414;
$gray_true_950: #0f0f0f;

$gray_warm_25: #f4f4fa;
$gray_warm_50: #f8f8f9;
$gray_warm_100: #f1f5e4;
$gray_warm_200: #d7dde0;
$gray_warm_300: #a9a290;
$gray_warm_400: #a9a290;
$gray_warm_500: #79716b;
$gray_warm_600: #57534e;
$gray_warm_700: #44403c;
$gray_warm_800: #292524;
$gray_warm_900: #1c1917;
$gray_warm_950: #171412;

$moss_25: #fafdf7;
$moss_50: #f5fbee;
$moss_100: #e6f4d7;
$moss_200: #ceeab0;
$moss_300: #acdc79;
$moss_400: #86bc3c;
$moss_500: #66bf2a;
$moss_600: #4f7a21;
$moss_700: #3f621a;
$moss_800: #325015;
$moss_900: #284212;
$moss_950: #1a2b0b;

$green_light_25: #faf5ef;
$green_light_50: #f3fee7;
$green_light_100: #e4bfcc;
$green_light_200: #ddf8ab;
$green_light_300: #a6ef67;
$green_light_400: #85e13a;
$green_light_500: #66bc1c;
$green_light_600: #4ca30d;
$green_light_700: #3b7c0f;
$green_light_800: #326212;
$green_light_900: #2b5314;
$green_light_950: #15290a;

$green_25: #f5fef9;
$green_50: #edfdf2;
$green_100: #d3f8df;
$green_200: #a9f0c4;
$green_300: #73e2a3;
$green_400: #3ccb7f;
$green_500: #1b8384;
$green_600: #089250;
$green_700: #087443;
$green_800: #0b5c37;
$green_900: #084c2e;
$green_950: #052e1c;

$teal_25: #f8fefc;
$teal_50: #fdfdf9;
$teal_100: #ccfbef;
$teal_200: #99f6e0;
$teal_300: #5fe9d0;
$teal_400: #2ed3b7;
$teal_500: #15b79e;
$teal_600: #0e9384;
$teal_700: #10756b;
$teal_800: #125056;
$teal_900: #134e4b;
$teal_950: #0a2926;

$cyan_25: #f5feef;
$cyan_50: #ecfdff;
$cyan_100: #cff9fe;
$cyan_200: #9af0fc;
$cyan_300: #67e3f9;
$cyan_400: #22ccee;
$cyan_500: #08aed4;
$cyan_600: #088ab2;
$cyan_700: #0e7090;
$cyan_800: #155975;
$cyan_900: #164c63;
$cyan_950: #0d2d3a;

$blue_light_25: #fcf3ff;
$blue_light_50: #f0f3ff;
$blue_light_100: #e0f2fe;
$blue_light_200: #99b6fe;
$blue_light_300: #7cd4fd;
$blue_light_400: #3b8ffa;
$blue_light_500: #08a5ec;
$blue_light_600: #0898c9;
$blue_light_700: #0d2ba2;
$blue_light_800: #065986;
$blue_light_900: #0b4a6f;
$blue_light_950: #062c41;

$blue_25: #f5faff;
$blue_50: #ebfbff;
$blue_100: #d8e9ff;
$blue_200: #b9dcff;
$blue_300: #84caff;
$blue_400: #53b3fd;
$blue_500: #2e9dfa;
$blue_600: #157def;
$blue_700: #175cd3;
$blue_800: #184da9;
$blue_900: #194185;
$blue_950: #102a56;

$blue_dark_25: #f5fbff;
$blue_dark_50: #eff4ff;
$blue_dark_100: #d1e0ff;
$blue_dark_200: #b2ccff;
$blue_dark_300: #84adff;
$blue_dark_400: #58b9ff;
$blue_dark_500: #2970ff;
$blue_dark_600: #155eef;
$blue_dark_700: #004eeb;
$blue_dark_800: #0040c1;
$blue_dark_900: #00359e;
$blue_dark_950: #002266;

$indigo_25: #f5fbff;
$indigo_50: #eef4ff;
$indigo_100: #d1e0ff;
$indigo_200: #c7d7fe;
$indigo_300: #a4b3fd;
$indigo_400: #809bf9;
$indigo_500: #6172f3;
$indigo_600: #444ce7;
$indigo_700: #353bcd;
$indigo_800: #203d82;
$indigo_900: #2032b2;
$indigo_950: #1f235b;

$violet_25: #f5f3ff;
$violet_50: #f5f3ff;
$violet_100: #cef5fe;
$violet_200: #d1ddfe;
$violet_300: #c3b5f0;
$violet_400: #a4b4fb;
$violet_500: #875bff;
$violet_600: #793fe7;
$violet_700: #5f37e0;
$violet_800: #372087;
$violet_900: #491c9e;
$violet_950: #28125e;

$purple_25: #f4faff;
$purple_50: #f4f3ff;
$purple_100: #ebe9fe;
$purple_200: #d9d6fe;
$purple_300: #8d8afe;
$purple_400: #988afb;
$purple_500: #7a5af8;
$purple_600: #6935be;
$purple_700: #5925dc;
$purple_800: #4a1fb8;
$purple_900: #3e1c96;
$purple_950: #27115f;

$fuchsia_25: #f5faff;
$fuchsia_50: #fdf4ff;
$fuchsia_100: #fbeffe;
$fuchsia_200: #f6d0fe;
$fuchsia_300: #eeaafd;
$fuchsia_400: #e475fa;
$fuchsia_500: #d444ff;
$fuchsia_600: #ba24d5;
$fuchsia_700: #9f1ab7;
$fuchsia_800: #821b90;
$fuchsia_900: #591b77;
$fuchsia_950: #471d4c;

$pink_25: #fefbfb;
$pink_50: #fdf2f9;
$pink_100: #fce7f6;
$pink_200: #fceeee;
$pink_300: #f8a7e0;
$pink_400: #f670c7;
$pink_500: #ee4e8c;
$pink_600: #d02590;
$pink_700: #c11574;
$pink_800: #9e355f;
$pink_900: #851651;
$pink_950: #463d30;

$rose_25: #fff5f8;
$rose_50: #fff1f3;
$rose_100: #fee4e8;
$rose_200: #fecddb;
$rose_300: #fea1b4;
$rose_400: #fd6fbe;
$rose_500: #f83d8b;
$rose_600: #e31b54;
$rose_700: #be3e5f;
$rose_800: #a11c43;
$rose_900: #89123e;
$rose_950: #510824;

$orange_dark_25: #fffef5;
$orange_dark_50: #fff4ed;
$orange_dark_100: #fff0d3;
$orange_dark_200: #ffd6ae;
$orange_dark_300: #ff9c6b;
$orange_dark_400: #ff692e;
$orange_dark_500: #ff4405;
$orange_dark_600: #e22e05;
$orange_dark_700: #b71b20;
$orange_dark_800: #97160c;
$orange_dark_900: #57130a;
$orange_dark_950: #37130a;

$orange_25: #fefaf5;
$orange_50: #fef6ee;
$orange_100: #fdead7;
$orange_200: #f9b0af;
$orange_300: #f7827a;
$orange_400: #f38744;
$orange_500: #fe6820;
$orange_600: #e04616;
$orange_700: #b93815;
$orange_800: #93131f;
$orange_900: #772917;
$orange_950: #511c10;

$yellow_25: #fefdf0;
$yellow_50: #fefbeb;
$yellow_100: #fef7c3;
$yellow_200: #feee95;
$yellow_300: #f3e272;
$yellow_400: #fac519;
$yellow_500: #eeaa08;
$yellow_600: #ca8504;
$yellow_700: #a15c07;
$yellow_800: #814a06;
$yellow_900: #713b12;
$yellow_950: #542c00;
///////////

//Slate
$slate50: rgb(248 250 252);
$slate100: rgb(241 245 249);
$slate200: rgb(226 232 240);
$slate300: rgb(203 213 225);
$slate400: rgb(148 163 184);
$slate500: rgb(100 116 139);
$slate600: rgb(71 85 105);
$slate700: rgb(51 65 85);
$slate800: rgb(30 41 59);
$slate900: rgb(15 23 42);
$slate950: rgb(2 6 23);

//Gray
$gray50: rgb(249 250 251);
$gray100: rgb(243 244 246);
$gray200: rgb(229 231 235);
$gray300: rgb(209 213 219);
$gray400: rgb(156 163 175);
$gray500: rgb(107 114 128);
$gray600: rgb(75 85 99);
$gray700: rgb(55 65 81);
$gray800: rgb(31, 41, 55);
$gray900: rgb(17, 24, 39);
$gray950: rgb(3 7 18);

//Blue
$blue50: #ebf5ff;
$blue200: #c3ddfd;
$blue700: #1a56db;

//Green
$green100: #def7ec;
$green200: #bcf0da;
$green700: #046c4e;
$green800: #03543f;

//Primary
$primary100: #e1effe;
$primary600: #1c64f2;
$primary700: #1a56db;
$primary800: #1e429f;

//Yellow
$yellow50: #fdfdea;
$yellow300: #faca15;
$yellow400: #e3a008;

//Red
$red50: #fdf2f2;
$red100: #fde8e8;
$red200: #fbd5d5;
$red700: #c81e1e;
$red800: #9b1c1c;

//Pink
$pink700: #bf125d;

//Purple
$purple700: #6c2bd9;

$shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.11);
$card-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.06);
$transition: all 0.3s ease-in-out;

// Shadow styles
@mixin shadow {
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: $shadow;
  }
}

// Flex styles
@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Line clamp
@mixin line-clamp($line: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

//Scroll
@mixin scroll($width: 10px, $track: $gray, $thumb: #b8cae5) {
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    width: $width;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $track;
    border-radius: 50px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $thumb;
    border-radius: 50px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thumb;
  }
}

@mixin scroll-x {
  @include scroll();
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 8px;
  }
}

@mixin scroll-none {
  overflow-y: auto;
  /* width */

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll {
  @include scroll();
}
