@import "src/styles/variables.scss";

.homeSlide {
  margin-top: 50px;
  .appContainer {
    background-color: #3c7cf5;
    padding: 50px;
    border-radius: 20px;
    @include flex();
    gap: 50px;
  }

  .leftPanel {
    h3 {
      color: #faff00;
      font-size: 116px;
      line-height: 80%;
    }

    .subtitle {
      font-family: $font-secondary;
      font-weight: 500;
      margin-top: 145px;
      font-size: 40px;
      color: $white;
      line-height: 80%;
    }

    .text {
      font-family: $font-secondary;
      font-family: 500;
      margin-top: 25px;
      font-size: 20px;
      color: $white;
    }
  }

  .rightPanel {
    height: 100%;

    .staticImage {
      // width: 100%;
      width: 616px;
      border-radius: 20px;
      height: 100%;
    }
  }

  .stepsContainer {
    display: flex;
    gap: 30px;
    margin-top: 60px;
  }

  .stepItem {
    cursor: pointer;
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 600;
    color: #1454cd;
    transition: color 0.3s ease;
    padding-bottom: 5px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #1454cd;
      border-radius: 2px;
    }
  }

  .stepItem.active {
    color: #faff00;
  }

  .stepItem.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #faff00;
    border-radius: 2px;
  }
}

@media (max-width: 1275px) {
  .homeSlide {
    .appContainer {
      padding: 30px;
      flex-direction: column;
    }

    .leftPanel {
      order: 2;
    }

    .rightPanel {
      height: 550px !important;
      width: 70%;
      margin: 0 auto;

      .staticImage {
        width: 100%;
      }
    }
  }
}
@media (max-width: 860px) {
  .homeSlide {
    .leftPanel {
      h3 {
        font-size: 80px;
      }

      .subtitle {
        margin-top: 20px;
        font-size: 40px;
        color: $white;
        line-height: 80%;
      }
    }
    .rightPanel {
      height: 550px !important;
      width: 100%;
      margin: 0 auto;

      .staticImage {
        width: 100%;
      }
    }
  }
}

@media (max-width: 576px) {
  .homeSlide {
    margin-top: 30px;
    .appContainer {
      padding: 16px;
    }
    .leftPanel {
      h3 {
        font-size: 48px;
      }

      .subtitle {
        margin-top: 46px;
        font-size: 32px;
      }

      .text {
        margin-top: 20px;
        font-size: 20px;
      }
    }
    .rightPanel {
      height: 342px !important;
      width: 100%;
      margin: 0 auto;

      .staticImage {
        width: 100%;
      }
    }

    .stepsContainer {
      justify-content: center;

      .stepItem {
        display: none;
      }

      .stepItem.active {
        display: block;
        font-size: 24px;
        color: #faff00;
      }
    }
  }
}
