@import "src/styles/variables.scss";

.footer {
  position: relative;

  .topContent {
    position: relative;
    display: flex;
    width: 100%;

    .leftBg,
    .rightBg {
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
    }

    .leftBg {
      left: 0;
      background: yellow;
    }

    .rightBg {
      right: 0;
      background: #3c7cf5;
    }

    .inner {
      width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .leftBlock,
      .rightBlock {
        width: 100%;
      }

      .leftBlock {
        padding: 20px 30px 20px 0;
        @include flex($align: center, $justify: space-between);

        h3 {
          max-width: 400px;
          font-size: 44px;
          line-height: 100%;
        }

        .dateBlock {
          margin-top: 7px;
          display: inline-block;
          border-radius: 25px;
          background-color: #f38995;
          padding: 2px 16px;

          p {
            font-size: 50px;
          }
        }
      }

      .rightContent {
        height: 100%;
        @include flex($align: center, $justify: space-between);
        gap: 12px;

        .image {
          margin-bottom: -35px;
          display: block;
          max-width: 160px;
          height: auto;
        }

        h3 {
          font-size: 46px;
          color: white;
        }

        .location {
          margin-top: 14px;

          h4,
          p {
            font-size: 14px;
            font-family: $font-secondary;
            color: white;
            font-weight: 500;
          }

          p {
            text-align: end;
          }
        }
      }
    }
  }
  .mobileBlock {
    display: none;
    h5 {
      font-family: $font-secondary;
      font-size: 16px;
    }

    div {
      display: flex;
      flex-direction: column;

      a {
        font-family: $font-secondary;
        font-size: 16px;
        color: black;
        font-weight: 500;
      }
    }
  }
  .bottomContent {
    margin-top: 45px;
    margin-bottom: 35px;

    .linkWrapper {
      h5 {
        font-family: $font-secondary;
        font-size: 16px;
      }

      div {
        display: flex;
        flex-direction: column;
        margin-top: 17px;
        margin-bottom: 58px;

        a {
          font-family: $font-secondary;
          font-size: 16px;
          color: black;
          font-weight: 500;
        }
      }

      p {
        font-family: $font-secondary;
        font-size: 16px;
        color: black;
      }
    }

    .documents {
      h5 {
        font-family: $font-secondary;
        font-size: 16px;
      }

      div {
        margin-top: 17px;
      }

      p {
        font-family: $font-secondary;
        font-size: 16px;
        color: black;
      }

      .icons {
        margin-top: 55px;
      }
    }
  }

  @media (max-width: 1250px) {
    .topContent {
      flex-direction: column;
      background: linear-gradient(
        to bottom,
        yellow 0%,
        yellow 50%,
        #3c7cf5 50%,
        #3c7cf5 100%
      );
      min-height: 400px;
    }

    .topContent .leftBg,
    .topContent .rightBg {
      display: none;
    }

    .topContent .inner {
      flex-direction: column;
      position: relative;
      z-index: 10;
    }

    .inner .leftBlock {
      background: transparent;
    }

    .inner .rightContent {
      padding-top: 20px;
    }

    .rightContent {
      .image {
        margin-bottom: 0 !important;
      }
    }
  }

  @media (max-width: 650px) {
    .topContent {
      min-height: 200px;

      .leftBg,
      .rightBg {
        height: 100px;
      }
      .inner {
        gap: 0;
        .leftBlock {
          padding: 10px 25px 10px 0;
          height: 100px;

          h3 {
            max-width: 220px;
            font-size: 24px;
            line-height: 100%;
          }

          .dateBlock {
            margin-top: 4px;
            border-radius: 14px;
            padding: 2px 7px;

            p {
              font-size: 28px;
            }
          }
        }

        .rightContent {
          padding: 0;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;

          .image {
            align-self: flex-end;
            margin-bottom: 0 !important;
          }

          h3 {
            font-size: 26px;
            color: white;
          }

          .location {
            margin-top: 10px;

            h4,
            p {
              font-size: 8px;
            }

            p {
              text-align: end;
            }
          }
        }
      }
    }
    .bottomContent {
      display: none;
    }
    .mobileBlock {
      margin: 40px 0;
      display: flex;
      flex-direction: column;
      .documents {
        margin-top: 30px;
        h5 {
          font-family: $font-secondary;
          font-size: 16px;
        }

        div {
          margin-top: 17px;
        }

        p {
          font-family: $font-secondary;
          font-size: 16px;
          color: black;
        }
      }
      .mobileTitle {
        font-family: $font-secondary;
        font-size: 20px;
        color: black;
        margin-top: 50px;
      }
    }
  }
}
