@import "src/styles/variables.scss";

.header {
  // padding: 20px 0 10px 0;
  // padding-top: 15px;
  // height: 84px;
  background: transparent;
  position: absolute;
  width: 100%;

  .content {
    padding-top: 15px;
    @include flex($justify: space-between, $align: center);

    .leftBlock {
      @include flex($align: center);

      gap: 8px;
      :global {
        .ant-select {
          border: none !important;
          border-radius: 25px;
          background-color: #f5f5f5;
          height: auto;

          &-selector {
            border: none !important;
            padding: 20px;
            height: 54px !important;
            border-radius: 25px;
            box-shadow: none !important;
          }
          &-arrow {
            display: none;
          }
          &-selection-item {
            padding-right: 0;
            color: $black;
          }
        }
      }
    }
  }
}
