@import "src/styles/variables.scss";

.header {
  background: transparent;
  position: absolute;
  width: 100%;

  .content {
    padding-top: 15px;
    @include flex($justify: space-between, $align: center);

    .leftBlock {
      @include flex($align: center);
      gap: 8px;
    }

    .burger {
      display: none;
      font-size: 26px;
      cursor: pointer;
      color: $black;
    }
  }

  .mobileMenu {
    display: none;
    gap: 10px;
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 100;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    &.open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
  }

  @media (max-width: 756px) {
    .content {
      .leftBlock {
        gap: 24px;

        button {
          display: none;
        }
      }

      .burger {
        display: block;
      }
    }

    .mobileMenu {
      display: flex;
      justify-content: space-between;
    }
  }
}
