@import "src/styles/variables.scss";

.header {
  background: transparent;
  position: absolute;
  width: 100%;

  .content {
    padding-top: 15px;
    @include flex($justify: space-between, $align: center);

    .leftBlock {
      @include flex($align: center);
      gap: 8px;

      :global {
        .ant-select {
          border: none !important;
          border-radius: 25px;
          background-color: #f5f5f5;
          height: auto;

          &-selector {
            border: none !important;
            padding: 20px;
            height: 54px !important;
            border-radius: 25px;
            box-shadow: none !important;
          }

          &-arrow {
            display: none;
          }

          &-selection-item {
            padding-right: 0;
            color: $black;
          }
        }
      }
    }

    .burger {
      display: none;
      font-size: 26px;
      cursor: pointer;
      color: $black;
    }
  }

  // 🔹 Mobil menyu
  .mobileMenu {
    display: none;
    // flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 100;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    &.open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
  }

  @media (max-width: 756px) {
    .content {
      .leftBlock {
        gap: 24px;

        :global {
          .ant-select {
            &-selector {
              height: 35px !important;
              border-radius: 25px;
            }
          }
        }

        button {
          display: none;
        }
      }

      .burger {
        display: block;
      }
    }

    .mobileMenu {
      display: flex;
      justify-content: space-between;
    }
  }
}
