@import "src/styles/variables.scss";

.kidsCards {
  width: 450px;
  min-height: auto;
  padding: 33px 26px 50px 26px;
  border-radius: 20px;

  .topcontent {
    width: 276px;
    @include flex($align: center);
    gap: 13px;

    .avatar {
      width: 66px;
      height: 66px;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .name {
      font-size: 26px;
      line-height: 80%;
    }
  }

  .images {
    width: 396px;
    height: 371px;
  }
  .bottomContent {
    .title {
      font-size: 66px;
      font-weight: 700;
      line-height: 80%;
      margin-top: 30px;
      @include line-clamp(1);
    } 
    .description {
      font-size: 14px;
      font-family: $font-secondary;
      margin-top: 16px;
      line-height: auto;
      // height: 65px;
      @include line-clamp(4);
    }
  }
}

@media screen and (max-width: 1024px) {
  .kidsCards {
    width: 330px;
    padding: 24px 18px 35px 18px;
    border-radius: 15px;

    .topcontent {
      width: 200px;

      .avatar {
        width: 48px;
        height: 48px;
      }

      .name {
        font-size: 24px;
      }
    }

    .images {
      width: 290px;
      height: 195px;
      object-fit: cover;
    }
    .bottomContent {
      .title {
        font-size: 40px;
        margin-top: 24px;
      }
      .description {
        font-size: 20px;
        font-family: $font-secondary;
        margin-top: 16px;
        line-height: auto;
        // height: 70px;
        @include line-clamp(4);
      }
    }
  }
}
