@import "src/styles/variables.scss";

.container {
  @include flex(row);
}

.left {
  flex-grow: 1;
  height: 100vh;

  background-image: url("/img/auth_bg2.png");
  background-size: cover;
  background-position: 0 -208px;
  background-repeat: no-repeat;

  @include flex(column);
}

.right {
  width: 720px;
  height: 100vh;
  flex-shrink: 0;

  background-image: url("/img/auth_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  width: 100%;
  flex-grow: 1;
  @include flex(row, center, center);
}

.footer {
  padding: 44px 32px 32px;
}
