@import "src/styles/variables.scss";

.donatePage {
  padding-top: 105px;
  .content {
    .topContent {
      padding: 50px;
      border-radius: 66px;
      background-color: #4d90eb;
      margin-bottom: 50px;

      .titleWrapper {
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          font-size: 82px;
          color: white;
          // line-height: 80%;
        }
        p {
          width: 500px;
          font-size: 20px;
          font-family: $font-secondary;
          color: white;
        }
      }

      .buttonWrapper {
        margin-top: 100px;
      }
    }
    .bottomBlock {
      margin-top: 50px;
      margin-bottom: 130px;
      h3 {
        font-size: 82px;
      }

      .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        .card {
          padding: 25px 33px;
          background-color: #f5f5f5;
          border-radius: 33px;
          @include flex();
          gap: 16px;
          align-items: center;

          h4 {
            font-size: 32px;
          }
          img {
            width: 75px;
            height: 75px;
          }
        }
      }
    }
  }

  @media (max-width: 850px) {
    .content {
      .topContent {
        .titleWrapper {
          flex-direction: column;
          p {
            width: 100%;
          }
        }
      }
      .bottomBlock {
        h3 {
          font-size: 32px;
        }
        .cards {
          grid-template-columns: repeat(1, 1fr);
          .card {
            padding: 15px 20px;
            img {
              width: 50px;
              height: 50px;
            }
            h4 {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 600px) {
    .content {
      .topContent {
        border-radius: 35px;
        padding: 40px 20px;
        .titleWrapper {
          align-items: flex-start;
          h2 {
            font-size: 40px;
          }
          p {
            width: 100%;
          }
        }
        .buttonWrapper {
          margin-top: 40px;
        }
      }
    }
  }
}
